page-orderlogistik {
.checkbox{
    position: absolute;
    left : 1px;
}
.counter{
    display: block;
    margin: auto;
    width: 50%;
    padding: 13px;
}
ion-label{
    color : #FF3080;
}       
}
