page-profil {
    .lebar-menu{
        height: 200px;
    }
        
      ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, primary);
}

.badge-header{
    display:block;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}
.topleft {
    position: absolute;
    top: 1px;
    left: 6px;
}
.topright {
    position: absolute;
    top: 1px;
    right: 16px;
}
ion-card-content {

    .badge-circle{
        position: relative;
        display: inline-block;
        width: auto;
        height: 100%;
        padding: 5%;
        border-radius: 50%;
        .date_badge {
            font-size: 3.4vw !important;
            margin-top: 11px !important;
        }
    }

}

ion-card {
    .footer_card {
        padding: 10px;
        
        .card_content {
            display: inline-block;
            width: auto;
            margin-left: -3%;
            #event_title {
                font-weight: 700;
                color: #FF3080
            }
            // #organizer_event {

            // }
            #hashtag_event {
                font-size: 3vw;
            }
            #tanggal_event {
                font-size: 2.5vw;
            }

        }
        
        .like
        {
            position: absolute;
            display: inline-block;
            right : 5px; 
            top : -40px;
           #icon_like{
               display:inline;
            } 
            #jumlah{
                 display : inline;
                 font-size: 3vw;
            }    
        }  
        

      }

      

    }
    
}
