page-tambahevent {
    
    ion-icon{
        
        padding-left: 250px;
    }
    
    .container {
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
       }
       ion-icon {
        font-size: 40px; //Preferred size here
    }
}
